<div class="main-section">

  <div *ngFor="let post of PostsData">

    <mat-card class="mat-card-post">
      <mat-card-header>
        <div mat-card-avatar>
          <img src="{{post.created_by.profile_picture}}" alt="user profile">
        </div>
        <mat-card-title routerLink="/home/posts/detail/{{post.id}}">{{post.title}}</mat-card-title>
        <mat-card-subtitle>Posted By
          <a routerLink="/home/user-profile/{{post.created_by.id}}" color="primary">
            {{post.created_by.first_name}} {{post.created_by.last_name}}
          </a>
        </mat-card-subtitle>
        <mat-card-subtitle class="datetime">{{ convertInt(post.created_on) | date:'medium'}}</mat-card-subtitle>
      </mat-card-header>
      <a routerLink="/home/posts/detail/{{post.id}}">
        <img class="card-image" mat-card-image src="{{post.post_image}}" alt="Photo of a Shiba Inu">
      </a>
      <mat-card-content>
        <p [innerHTML]="post.content | slice:0:60"></p>
      </mat-card-content>
      <mat-card-actions>
  
        <span class="like-count" id="count-{{post.id}}">{{post.likes}}</span>
        <button mat-icon-button color="warn" (click)="likePost(post.id)">
          <mat-icon matSuffix aria-hidden="false" *ngIf="post.isLiked" aria-label="favorite_border icon" id="like-{{post.id}}"> 
            favorite
          </mat-icon>
          <mat-icon matSuffix aria-hidden="false" *ngIf="!post.isLiked" aria-label="favorite_border icon" id="like-{{post.id}}"> 
            favorite_border
          </mat-icon>
        </button>
  
        <span class="comment-count" id="count-c-{{post.id}}">{{post.total_comments}}</span>
        <button mat-icon-button color="info" (click)="commentToggle()">
          <mat-icon matSuffix aria-hidden="false" aria-label="favorite_border icon">
            comment
          </mat-icon>
        </button>
  
        <!-- <button mat-button>SHARE</button> -->
      </mat-card-actions>
  
      <div class="comments" *ngIf="showComment">
        <hr>

        <div *ngFor="let comment of post.comment">
          <div class="comments-list">
              <div class="c-info">
                  <div class="c-user-image">
                    <a routerLink="/home/user-profile/{{comment.user_id.id}}" color="primary" title="View Profile">
                      <img src="{{comment.user_id.profile_picture}}" alt="user profile">
                    </a>
                  </div>

                  <div class="c-user-name">
                      <span id="userId-{{comment.user_id.id}}">
                        <a routerLink="/home/user-profile/{{comment.user_id.id}}" color="primary" title="View Profile">
                          {{comment.user_id.first_name}} {{comment.user_id.last_name}}
                        </a>
                      </span>
                      <br>
                      <small>{{ convertInt(comment.created_on) | date:'medium'}}</small>
                  </div>
              </div>
              <div class="c-user-comment">
                  <span>
                      {{comment.content}}
                  </span>
              </div>
          </div>
        </div>
  
        <form [formGroup]="commentForm" (ngSubmit)="onSubmit(post.id)">
          <mat-grid-list cols="4" rowHeight="100px">
            <mat-grid-tile colspan="3">
              <mat-form-field appearance="outline">
                <mat-label>Comment</mat-label>
                <textarea formControlName="contentInput" matInput placeholder="Comment"></textarea>
                <mat-icon matSuffix>text</mat-icon>
                <mat-error *ngIf="contentData.errors?.required">
                  Comment is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile colspan="1">
              <button type="submit" mat-stroked-button color="primary">Comment</button>
            </mat-grid-tile>
          </mat-grid-list>
        </form>
      </div>
  
    </mat-card>

  </div>

</div>

<div class="create-flex-container">
  <div class="create-button-container">
    <button mat-fab mat-fab-bottom-right color="primary" routerLink="/home/posts/create"
      aria-label="Create icon button">
      <mat-icon aria-hidden="false" aria-label="create icon">create</mat-icon>
    </button>
  </div>
</div>